@import "tailwindcss";

:root {
  background-color: #f8fafc; /* Gris nube muy claro */
  color: #0f172a; /* Azul casi negro para el texto */
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Inter', system-ui, sans-serif;
}